*{
    margin: 0;
    padding: 0;
}
body{
}
/*nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 7%;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    width: 100;
}*/
li{
    display: inline;
    justify-content: space-between;
}